.order_card_wrapper {
  padding: 10px;
  height: 310px;
  border-radius: 15px;
  width: 100%;
  background-color: #f3f1fd;
  transition: 0.4s;
  cursor: pointer;
}
.order_card_body {
  position: relative;
}
.order_card_details div {
  background: hsla(233, 82%, 57%, 0.47);
}
.order_card_details span {
  margin-left: 10px;
  color: black;
  font-weight: bold;
}
.order_details_img {
  width: 20px;
}
.order_card_wrapper:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 10px rgba(107, 85, 185, 0.15);
}
.order_card_wrapper_img {
  border-radius: 15px;
}
.order_card_body {
  padding: 5px;
}
.order_course_title {
  color: #6256ca;
  font-size: 18px;
  font-weight: 700;
}
.special_class_right {
  border-bottom-right-radius: 7px;
}
.special_class_left {
  border-bottom-left-radius: 7px;
}
.enroll_btn button {
  background-color: #293072;
  padding: 10px 35px;
  border: 15px;
  color: white;
  font-weight: 600;
  box-shadow: 2px 4px 10px rgba(107, 85, 185, 0.2);
  transition: 0.4s;
}
.enroll_btn button a {
  text-decoration: none;
  color: white;
}
.enroll_btn button:hover {
  color: white;
  transform: translateY(-2px);
}
