.header {
  padding: 15px 0;
  backdrop-filter: blur(10px);
}

.nav-item {
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}
.customize_nav {
  display: flex;
  justify-content: center;
}
/* heading */
.heading_background {
  background-image: linear-gradient(180deg, #e9f8ff 0%, #f3f1fd 120.94%);
}
.heading_title {
  font-weight: 600;
  color: #293072;
}
.heading_title_border {
  border-left: 3px solid #6d7bf5c4;
}
.heading_text_desc {
  font-size: 19px;
  font-weight: 600;
  color: #6370e4;
}

.heading_text {
  color: #293072;
  font-size: 72px;
}
.heading_hover_button {
  background-color: #293072;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: relative;
  box-shadow: 2px 4px 10px rgb(33 0 150 / 20%);
  transition: 0.4s;
}
.heading_hover_button:hover {
  background-color: #29307263;
  transform: translateY(-6px);
}
.arrow_btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
}

/* about component sytle */
.heading_about_text {
  font-size: 52px;
}
.about_us_heading {
  margin-left: -40px;
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  .customize_nav {
    display: flex;
    flex-direction: column;
    transition: 0.4s;
  }
  .about_us_heading {
    margin-left: -12px;
    margin-top: 30px;
  }
  .nav-item {
    text-align: left;
  }
  .about_us_img {
    margin-top: 20px;
  }
}
.about_us_row {
  margin: 100px 0px;
}
.about_us_img {
  border-radius: 15px;
}

/* CLient success */

.ceo_section {
  margin-top: 30px;
  margin-left: 40px;
}
.ceo_qoute h3 {
  color: #6256ca;
}
.ceo_text {
  margin-left: 10px;
}
.ceo_text h5 {
  margin-bottom: 0px;
}
.ceo_text p {
  color: #747ab3ad;
}

/* leatest tech section */
.letest_tech_button {
  text-align: left;
  position: relative;
}
.letest_tech_button img {
  transform: rotate(90deg);
  width: 50px;
  transition: 0.4s;
  cursor: pointer;
}
.our_strategy {
  margin-top: 100px;
}
.letest_tech_button_text {
  margin: 12px 0px 0px 75px;
  font-weight: 500;
  position: absolute;
  color: #6370e4;
}
.left_side_facts h2 {
  font-size: 62px;
  font-weight: 700;
  color: #293072;
}
.right_side_facts h2 {
  font-size: 62px;
  font-weight: 700;
  color: #293072;
}
.right_side_corner h2 {
  font-size: 62px;
  font-weight: 700;
  color: #293072;
}
.left_side_facts {
  border-right: 1px solid #bbbcbe;
}
.right_side_facts {
  border-top: 1px solid #bbbcbe;
}

/* our it suppport */
.ourItService {
  margin: 100px 0px;
}
.what_we_offer {
  border-left: 3px solid #6d7bf5c4;
}
.what_we_offer small {
  font-size: 18px;
  color: #293072;
}
.what_we_offer_heading h1 {
  font-size: 55px;
  color: #293072;
  margin-top: 10px;
  margin-bottom: 12px;
}
.what_we_offer_heading p {
  font-size: 22px;
  color: #6370e4;
  max-width: 800px;
  flex-wrap: wrap;
}
.nested_route {
  position: relative;
}
.what_we_offer_nested_route {
  margin-top: 40px;
}
.what_we_offer_nested_route a {
  display: block;
  text-decoration: none;
  color: #293072;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  transition: 0.4s;
  padding: 7px;
  margin-top: 7px;
}
.what_we_offer_nested_route a:nth-child(1) {
  background-color: #6256ca;
  color: white;
  border-radius: 7px;
}
.what_we_offer_nested_route a:hover {
  background-color: #6256ca;
  color: white;
  border-radius: 7px;
}
.what_we_offer_nested_route::before {
  content: "";
  position: absolute;
  top: 240px;
  left: 480px;
  display: block;
  width: 2px;
  height: 380px;
  background-color: #cfcfd4;
}

@media only screen and (max-width: 600px) {
  .what_we_offer_nested_route {
    margin-top: 10px;
  }
  .what_we_offer_nested_route a {
    text-align: left;
  }
  .what_we_offer_nested_route a::before {
    left: -10px;
    top: 14px;
  }
  .what_we_offer_nested_route::before {
    display: none;
  }
  .nested_components {
    margin-left: -2px !important;
  }
}

/* Nested route components */
.nested_components {
  margin-left: 40px;
}

.nested_components_heading {
  color: #293072;
  margin-bottom: 25px;
}
.nested_components_text {
  color: #645483;
  margin-top: 10px;
}

/* software solutions components */
.software_solutios_background {
  background-image: url(../../images/bg-02.jpg);
  background-size: cover;
  height: 100 vh;
  background-repeat: no-repeat;
}
.software_solutions_wrapper {
  padding: 20px;
}
.software_solutions {
  flex-wrap: wrap;
  color: white;
  padding: 70px;
  border-radius: 15px;
  background-color: #321075ce;
}
.software_solutions h3 {
  font-size: 55px;
  font-weight: 700;
}
.talk_to_us_btn {
  background-color: white;
  padding: 15px 45px;
  font-weight: 600;
  color: black;
  transition: 0.4s;
}
.talk_to_us_btn:hover {
  background-color: black;
  color: white;
}
